body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at top, #0d0d0d, #000000);
    color: white;
    text-align: center;
}


.main-title {
    font-size: 3rem;
    margin-top: 80px;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #00ffe7;
}
.main-title span { color: #00ffe7; }


.sub-title {
    margin-top: -10px;
    color: #aaaaaa;
    text-shadow: 0 0 5px #00997a;
}


.scan-box {
    margin-top: 40px;
}
.scan-box input {
    width: 320px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
    background: rgba(255,255,255,0.05);
    color: #00ffe7;
    box-shadow: 0 0 10px #00ffe7;
}
.scan-box button {
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background: #00ffe7;
    color: #000;
    transition: 0.3s;
}
.scan-box button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00ffe7;
}


.result-container {
    margin-top: 60px;
}
.score-box {
    margin: 20px auto;
    width: 300px;
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00ffe7;
}
.score-box span {
    color: #00ffe7;
}
.chart-area img {
    margin-top: 30px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ffe7;
}
.back-btn {
    display: inline-block;
    margin-top: 25px;
    color: #00ffe7;
    text-decoration: none;
    font-weight: bold;
}
.back-btn:hover { text-shadow: 0 0 10px #00ffe7; }
